$NetBSD$

Proper paths.

--- etc/proxysql.cnf.orig	2018-09-21 20:55:57.000000000 +0000
+++ etc/proxysql.cnf
@@ -31,7 +31,7 @@
 #
 ########################################################################################
 
-datadir="/var/lib/proxysql"
+datadir="@VARBASE@/lib/proxysql"
 
 admin_variables=
 {
