$NetBSD$

Use pkgsrc variables.

--- packaging/assets/config/default.conf.sample.orig	2015-01-29 04:30:55.000000000 +0000
+++ packaging/assets/config/default.conf.sample
@@ -1,7 +1,6 @@
 #
 # RethinkDB instance configuration sample
 #
-# - Give this file the extension .conf and put it in /etc/rethinkdb/instances.d in order to enable it.
 # - See http://www.rethinkdb.com/docs/guides/startup/ for the complete documentation
 # - Uncomment an option to change its value.
 #
@@ -15,24 +14,24 @@
 ## User and group used to run rethinkdb
 ## Command line default: do not change user or group
 ## Init script default: rethinkdb user and group
-# runuser=rethinkdb
-# rungroup=rethinkdb
+runuser=@RETHINKDB_USER@
+rungroup=@RETHINKDB_GROUP@
 
 ## Stash the pid in this file when the process is running
 ## Command line default: none
-## Init script default: /var/run/rethinkdb/<name>/pid_file (where <name> is the name of this config file without the extension)
-# pid-file=/var/run/rethinkdb/rethinkdb.pid
+## Init script default: @VARBASE@/run/rethinkdb/<name>/pid_file (where <name> is the name of this config file without the extension)
+pid-file=@VARBASE@/run/rethinkdb/rethinkdb.pid
 
 ### File path options
 
 ## Directory to store data and metadata
 ## Command line default: ./rethinkdb_data
-## Init script default: /var/lib/rethinkdb/<name>/ (where <name> is the name of this file without the extension)
-# directory=/var/lib/rethinkdb/default
+## Init script default: @VARBASE@/rethinkdb/<name>/ (where <name> is the name of this file without the extension)
+directory=@VARBASE@/rethinkdb/default
 
 ## Log file options
 ## Default: <directory>/log_file
-# log-file=/var/log/rethinkdb
+log-file=@VARBASE@/log/rethinkdb/rethinkdb.log
 
 ### Network options
 
