$NetBSD$

--- rel/vars.config.orig	2012-01-13 17:55:51.000000000 +0000
+++ rel/vars.config
@@ -2,20 +2,22 @@
 %% ex: ft=erlang ts=4 sw=4 et
 
 %% Platform-specific installation paths
-{platform_bin_dir,  "./bin"}.
-{platform_data_dir, "./data"}.
-{platform_etc_dir,  "./etc"}.
+{platform_bin_dir,  "@PREFIX@/sbin"}.
+{platform_data_dir, "@RIAK_DATA@"}.
+{platform_etc_dir,  "@PKG_SYSCONFDIR@"}.
 {platform_lib_dir,  "./lib"}.
-{platform_log_dir,  "./log"}.
+{platform_log_dir,  "@RIAK_LOG@"}.
 
 %%
 %% etc/app.config
 %%
 {web_ip,            "127.0.0.1"}.
 {web_port,          8098}.
+{handoff_ip,        "127.0.0.1"}.
 {handoff_port,      8099}.
 {pb_ip,             "127.0.0.1"}.
 {pb_port,           8087}.
+{ring_creation_size, 256}.
 {ring_state_dir,    "{{platform_data_dir}}/ring"}.
 {bitcask_data_root, "{{platform_data_dir}}/bitcask"}.
 {leveldb_data_root, "{{platform_data_dir}}/leveldb"}.
@@ -27,6 +29,11 @@
 {snmp_db_dir,       "{{platform_data_dir}}/snmp/agent/db"}.
 {merge_index_data_root,  "{{platform_data_dir}}/merge_index"}.
 
+{inno_data_dir,     "@RIAK_DATA@/innodb"}.
+{inno_log_dir,      "@RIAK_DATA@/innodb"}.
+{inno_error_log_dir,"@RIAK_LOG@/innodb.log"}.
+{inno_buffer_size,  33554432 }.
+
 %% secondary indices
 {merge_index_data_root_2i,  "{{platform_data_dir}}/merge_index_2i"}.
 
@@ -44,12 +51,12 @@
 %%
 %% bin/riak
 %%
-{runner_script_dir,  "$(cd ${0%/*} && pwd)"}.
-{runner_base_dir,    "${RUNNER_SCRIPT_DIR%/*}"}.
-{runner_etc_dir,     "$RUNNER_BASE_DIR/etc"}.
-{runner_log_dir,     "$RUNNER_BASE_DIR/log"}.
+{runner_script_dir,  "@PREFIX@/sbin"}.
+{runner_base_dir,    "@PREFIX@/riak"}.
+{runner_etc_dir,     "@PKG_SYSCONFDIR@"}.
+{runner_log_dir,     "@RIAK_LOG@"}.
 {pipe_dir,           "/tmp/$RUNNER_BASE_DIR/"}.
-{runner_user,        ""}.
+{runner_user,        "@RIAK_USER@"}.
 
 %%
 %% etc/snmp/agent.conf
